body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 500px;
    border-collapse: collapse;
}

thead, tfoot {
    background-color: grey;
    color: aliceblue;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

.num {
    text-align: right;
}