@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}


html, body {
    background-color: rgb(65, 65, 102);
    min-width: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: burlywood;
    color: yellowgreen;
}

section.imagem > p {
    background-color: blue;
    width: 500px;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}